<!doctype html>
<html lang="en">
<head>
  <title>unPlug</title>
  <meta charset="utf-8">
  <meta name="description" content="Alarm Clock App">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Create new versions of the link so it updates each time -->
  <script>document.write('<link rel="stylesheet" href="./stylesheets/styles.css?dev=' + Math.floor(Math.random() * 1000) + '"\>');</script>
  <!-- Import APIs and stylesheets  -->
  <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,500,700' rel='stylesheet' type='text/css'>
  
</head>
<body>
	<header class="app-header">
		<h1 class="app-title">About Us</h1>
	</header>
    <!-- Create clock and alarm -->
    <main class="container">
            <img style="width: 260px" src="https://i.imgur.com/zWIddhL.jpg">
            <h1 class="app-header">Austin Hwang</h1>
            <h2 class="app-title">A.B Candidate in CS</h2>
            <p>Austin's a SoCal boy from Huntington Beach, CA but loving life in Massachusetts. Hit up Austin Hwang Photoography for photographs if you ever need any, he's a pro.</p>
            <hr>
            <img style="width: 260px" src="https://i.imgur.com/JHr4rdo.jpg">
            <h1 class="app-header">Manasi Maheshwari</h1>
            <h2 class="app-title">A.B Candidate in CS</h2>
            <p>Manasi's from Fremont, CA but as much as the Bae Area beckons her, she loves exploring Cambridge and Boston in her free time. She enjoys long walks along the river and if you're ever looking for the best views, she'll probably be able to help you find them.</p>
    </main>
</body>
</html>