<!doctype html>
<html lang="en">

<head>
    <title>unPlug</title>
    <meta charset="utf-8">
    <meta name="description" content="Alarm Clock App">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Create new versions of the link so it updates each time -->
    <script>
    document.write('<link rel="stylesheet" href="./stylesheets/styles.css?dev=' + Math.floor(Math.random() * 1000) + '"\>');
    </script>
    <!-- Import APIs and stylesheets  -->
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,500,700' rel='stylesheet' type='text/css'>
</head>

<body>
    <header class="app-header">
        <h1 class="app-title">How To</h1>
    </header>
    <!-- Instructions on how to use alarm clock -->
    <main class="container">
        <p>Create your first alarm! To do so, you must set the following:</p>
        <ol>
            <li> Set a time (HH:MM) and time period (AM or PM)</li>
            <li> Select a charity to donate to when snooze is pressed (from the dropdown menu of 4 choices)</li>
            <li> Select an amount to donate each time you press snooze (in USD)</li>
            <li> Upload an image of an object far away from your bed that will need to be compared to when turning off the alarm.</li>
            <li> Wait for the alarm to ring … Maybe take a nap during this time.</li>
            <li>When the alarm rings, choose whether to turn it off by taking a photo of the object you initially uploaded (far away from your bed, requiring you to get up) OR snooze.</li>
        </ol>
        <p>Beware: Snoozing sends money to the charity you chose! </p>
    </main>
</body>

</html>