@import url(http://fonts.googleapis.com/css?family=Lato:400);

/* Currency spinner */
#spinner {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 150px;
  height: 50px; }

input[type=number] {
  margin-top: 10px;
  width: 70px;
  height: 35px;
  padding: 0;
  font-family: Lato;
  font-weight: 700;
  font-size: 1.2em;
  text-transform: uppercase;
  text-align: center;
  color: orange;
  border: 2px orange solid;
  background: none;
  outline: none;
  pointer-events: none; }

span.spinner {
  position: relative;
  height: 40px;
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none; }

span.spinner > .sub,
span.spinner > .add {
  position: relative;
  display: inline-block;
  width: 35px;
  height: 35px;
  text-align: center;
  font-family: Lato;
  font-weight: 700;
  font-size: 1.2em;
  line-height: 33px;
  color: orange;
  border: 2px orange solid;
  border-right: 0;
  border-radius: 2px 0 0 2px;
  cursor: pointer;
  transition: 0.1s linear;
  -o-transition: 0.1s linear;
  -ms-transition: 0.1s linear;
  -moz-transition: 0.1s linear;
  -webkit-transition: 0.1s linear;
  margin-top: 10px; }

span.spinner > .add {
  top: 0;
  border: 2px orange solid;
  border-left: 0;
  border-radius: 0 2px 2px 0; }

span.spinner > .sub:hover,
span.spinner > .add:hover {
  background: orange;
  color: white; }

input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none; }

html, body {
  margin: 0px;
  padding: 0px;
  font-family: 'Raleway', Arial, sans-serif;
  height: 100%;
  background-color: #fffed8; }

h1, h2 {
  margin: 0px;
  padding: 0px; }

input, button, input:active, input:focus, button:active, button:focus {
  outline: 0px; }

.app-title {
  text-align: center;
  color: #5ab2ec;
  font-weight: 200;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 20px; }

.app-title1 {
  text-align: center;
  color: #7986CB;
  font-weight: 200;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 20px; }

/* Button colors, sizes */
.container {
  width: 260px;
  margin: 0px auto;
  text-align: center; }
  .container .time-box {
    color: #5ab2ec;
    font-weight: 400;
    letter-spacing: 3px;
    font-size: 36px;
    margin-bottom: 10px; }
  .container .alarm-input {
    color: #9E9E9E;
    float: left;
    text-align: center;
    box-sizing: border-box;
    transition: border-color 300ms;
    height: 45px;
    width: 61px;
    font-size: 18px;
    margin-right: 5px;
    border: 3px #E0E0E0 solid; }
  .container .alarm-input:focus {
    border-color: blue; }
  .container .alarm-btn {
    cursor: pointer;
    background-color: #E0E0E0;
    height: 45px;
    font-size: 18px;
    border: 3px solid; }
  .container .period-btn {
    border-color: #E0E0E0;
    color: #9E9E9E;
    width: 61px; }
  .container .active-period-btn {
    background-color: #5ab2ec;
    border-color: #5ab2ec;
    color: #FFFFFF; }
  .container .set-btn {
    float: left;
    width: 260px;
    margin-top: 10px;
    border-color: #5ab2ec;
    background-color: #5ab2ec;
    color: #FFFFFF;
    padding-left: 20px;
    padding-right: 20px;
    transition: border-color 300ms, background-color 300ms; }
  .container .set-btn:hover {
    border-color: blue;
    background-color: blue; }
  .container .delete-btn {
    width: 260px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-color: #ff8080;
    background-color: #ff8080;
    color: #FFFFFF;
    padding-left: 20px;
    padding-right: 20px;
    transition: border-color 300ms, background-color 300ms; }
  .container .delete-btn:hover {
    border-color: #e60000;
    background-color: #e60000; }
  .container .transaction-btn {
    width: 260px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-color: #62d645;
    background-color: #62d645;
    color: #FFFFFF;
    padding-left: 20px;
    padding-right: 20px;
    transition: border-color 300ms, background-color 300ms; }
  .container .transaction-btn:hover {
    border-color: green;
    background-color: green; }
  .container .upload-btn {
    width: 260px;
    margin-top: 10px;
    border-color: #7986CB;
    background-color: #7986CB;
    color: #FFFFFF;
    padding-left: 20px;
    padding-right: 20px;
    transition: border-color 300ms, background-color 300ms; }
  .container .upload-btn:hover {
    border-color: #3F51B5;
    background-color: #3F51B5; }
  .container .alarm-list {
    float: left;
    text-align: left;
    width: 260px; }
  .container .alarm-item {
    background-color: #E0E0E0;
    color: #9E9E9E;
    padding: 10px;
    margin-bottom: 10px; }
  .container .alert-box {
    background-color: #F44336;
    float: left;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 260px;
    color: #FFFFFF;
    margin-bottom: 10px;
    display: none; }

.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid #f8c670;
  background-color: #f8c670;
  padding: 0.375rem 0.75rem;
  color: white;
  font-size: 1rem;
  margin: 10px;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; }

.btn:hover {
  cursor: pointer;
  border: 1px solid orange;
  background-color: orange; }

.dropzone {
  height: 45px;
  width: 260px;
  color: white;
  border-color: #7986CB;
  background-color: #7986CB;
  border-radius: 25px;
  margin-bottom: 10px; }

/* Picture upload */
.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  cursor: pointer;
}
  
.dropzone:hover {
  border-color: #3F51B5;
  background-color: #3F51B5; }

.dropzone.dz-clickable {
  cursor: pointer; }

.dropzone .dz-message {
  text-align: center;
  padding: 12px;
  font-size: 1.25em; }

#myId2 {
  display: none; }

/*# sourceMappingURL=styles.css.map */
